html {
    background-color:lightblue;
    text-align: center;
    font-family: sans-serif;
    font-size: 300%;
}

p{
    color: brown;
    font-size: 200%;
    font-family: sans-serif;
    text-align: center;

}